nav {
  display:flex;
  background-color: rgb(209, 209, 209);
  width: 100vw;
}

li {
  list-style-type: none;
}

a{
  text-decoration: none;
  color:#000;
  padding: 10px 20px;
  display: block;
}

a.active {
  color:red;
}

table, th,td {
  border: 1px solid black;
}

.content {
  margin: 20px;
}